@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

.container {
    position: relative;
    width: 550px;
    height: auto;
    margin: auto;
    background-color: white;
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 32px;
}

#statusreject.rejected {
    transform: rotateZ(-45deg);
    width: 30%;
    top: 100px;
    position: absolute;
    z-index: 1;
    margin: 20px 0 0 20px;
    display: block;
}

#statuslove.loved {
    transform: rotateZ(-45deg);
    width: 30%;
    top: 100px;
    position: absolute;
    z-index: 1;
    margin: 20px 0 0 20px;
    display: block;
}

#statusreject {
    display: none;
}

#statuslove {
    display: none;
}

#profile {
    display: flex;
    align-content: center;
    height: 752px;
}

#profile p {
    margin: auto;
    font-size: 2rem;
}

#profileimg {
    position: relative;
    width: 100%;
    margin: auto;
}

#profileimg p:nth-child(2) {
    font-size: 20px;
}

#profileimg img {
    display: flex;
    margin: auto;
}

.title {
    position: absolute;
    top: 650px;
    left: 20px;
    color: #F8F8F8;
}
.title p {
    font-size: 24px;
    margin: 0;
}
.title p:nth-child(1) {
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}

button {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: 0px 10px 20px #E9E9EA;
    margin: 0px 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(250, 224, 224);
    box-shadow: none;
}

button:nth-child(2):hover {
    background-color: rgb(213, 252, 214);
    box-shadow: none;
}

button img {
    width: 25px;
}

#buttons {
    text-align: center;
    padding: 20px 0;
}